@import "tailwindcss";

@theme {
  /* Match Quasar's default color palette */
  --color-primary: #1976d2;
  --color-secondary: #26a69a;
  --color-accent: #9c27b0;
  --color-positive: #21ba45;
  --color-negative: #c10015;
  --color-info: #31ccec;
  --color-warning: #f2c037;
}
